body{
 font-family: 'Arvo', serif;
 color: #f25f2e;
}


@media (max-width: 590px) {
    .navbar-nav {
        font-size: 0.97rem;
    }


}
.single-item{
    min-height: 522.95px;
}

.single-item:hover {
    -webkit-box-shadow: 0 10px 15px rgb(0, 0, 0);
    box-shadow: 0 10px 15px rgb(0, 0, 0);
  }

.alineav  {  
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
  }

.alineaz{
    
} 
  
.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
 
.store-img {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

.img-container:hover .store-img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

.fondo{
 background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(../img/title_vial.jpg)center/cover no-repeat fixed;

 }

.title-underline{
 width: 350px;
 height: 10px;
 margin: 0 auto;
 /* background: blue!important; */
}

.vial{
    font-size:14px;
}

.normadas{
    font-size:14px;
}

.seguridad{
    font-size:14px;
}

.publicidad{
    font-size:14px;
}

.logo{
    font-size:14px;
}